@import "tailwindcss";


:root {
  font-family: system-ui, Plus Jakarta Sans, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  --btnBackground: #894d15;
  --title: #bb6a34;
  --btnColor: #ffff;
  --fontColor: #101010;

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

h1{
  font-weight: 700;
  font-family: "Playfair Display", serif;
  font-size: 70px;
  color: black;
}
h2{
  font-weight: 600;
  font-family: "Playfair Display", serif;
  font-size: 50px;
  color: #101010;
}
h3{
  font-weight: 600;
  font-family: "Playfair Display", serif;
  font-size: 35px;
  color: var(--fontColor);
}

a {
  text-decoration: none;
}

p{
  font-size: 20px;
}

li{
  list-style: none;
}

button{
  padding: 15px;
  border: none;
  background: var(--btnBackground);
  color: var(--btnColor);
  text-align: center;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}