@import "tailwindcss";


:root {
  font-family: system-ui, Lato, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  --btnBackground: #212121;
  --title: #000000d5;
  --btnColor: #ffff;
  --fontColor: #101010;
}

html {
  scroll-behavior: smooth;
}

h1{
  font-weight: 700;
  font-family: "Playfair Display", serif;
  font-size: 70px;
  
}
h2{
  font-weight: 600;
  font-family: "Playfair Display", serif;
  font-size: 50px;
}
h3{
  font-weight: 600;
  font-family: "Playfair Display", serif;
  font-size: 35px;
}
h4{
  font-weight: 600;
  font-family: "Playfair Display", serif;
  font-size: 25px;
}

a {
  text-decoration: none;
}

p{
  font-size: 18px;
  font-family: "Lato", sans-serif;
}

.type{
  font-size: 18px;
  text-transform: uppercase;
}

li{
  list-style: none;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  color: var(--btnColor);
  scroll-behavior: smooth;
  transition: 0.3s ease-in;
}

li:hover{
  color: var(--title);
}

.section{
  padding: 2rem 7rem;
}

button{
  padding: 15px 30px;
  border: none;
  background: var(--btnBackground);
  color: var(--btnColor);
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

button:hover{
  background: gray;
}

body {
  margin: 0;
  padding: 0;
  background: #dddcdcf5;
  box-sizing: border-box;
}

option{
  color: var(--fontColor);
}

i{
  font-size: 25px;
  cursor: pointer;
}

label{
  margin-right: 0.5rem;
  font-weight: 500;
  color: var(--btnColor);
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.slider{
  margin-top: 16px;
}


select{
  border-radius: 8px;
  cursor: pointer;
}

.mobile-menu{
  background: var(--fontColor);
}

.openMenu li:hover{
  color: gray;
}

.searchInput{
  padding: 12px 15px;
}

#location::placeholder, .searchInput::placeholder{
  color: #f6f6f6;
}

.category, .agent{
  font-size: 16px;
  text-align: right;
}

.propertyLocation{
  font-size: 15px;
  margin-bottom: .9rem;
}

.fullDesc{
  font-size: 15px;
}

.address{
  font-size: 16px;
}


.cancel{
  padding: .4rem;
  border-radius: 50px;
  color: var(--fontColor);
  background: rgb(243, 58, 58);
}

.navigationTop {
  color: var(--btnColor);
  background: gray;
  position: fixed;
  bottom: 40px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 9999;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.fa-arrow-up {
  color: var(--btnColor);
  font-size: 18px;
  text-align: center;
}


@media (max-width: 1000px){
    li {
      font-size: 18px;
      text-align: center;
    }

    nav {
      background: #101010;
    }
}

@media  (max-width: 780px){
  .section{
    padding: 2rem 2rem;
  }

  .filter{
    display: block;
  }

  li{
    font-size: 18px;
    text-align: center;
  }

  label{
    font-size: 16px;
  }

  select{
    font-size: 16px;
  }

  nav{
    background: #101010;
  }

    h1 {
    font-size: 50px;
  
    }
  
    h2 {
      font-size: 35px;
    }
  
    h3 {
      font-size: 28px;
    }
  
    h4 {
      font-size: 22px;
    }

    p{
      font-size: 16px;
    }
}